@page "/"

<PageTitle>Index</PageTitle>

@*<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>*@

<div class="drag-drop-zone">
    <InputFile OnChange="LoadFiles" class="load-files"/>
    @status
</div>

@code 
{
    const string DefaultStatus = "Drop a text file here to view it, or click to choose a file";
    const int MaxFileSize = 5 * 1024 * 1024; // 5MB
    string status = DefaultStatus;

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        //
    }
}